body{
  background-color: #444;
  color: white;
}
h1, h2 {
  text-align: center;
  font-size: 2.5rem;
}
#name, #temp {
    background-color: rgba(0,0,0,0.3);
}
div{
  padding-top: 50px;
  margin: auto;
  max-width: 600px;
}
h2, div {
  transition: all 2s;
}
div{
  padding-bottom: 100px;
}
button {
  display: block;
  margin: auto;
  padding: 20px;
  opacity: 0.9;
  border-radius: 15px
}