<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1 class="brand">Blog</h1>
			<div id="left">
				<a class="btn btn-default" href="/">Home</a>
				<a class="btn btn-default" href="">Sign In / UP</a>
			</div>	
		</div>
	</div>
